.container {
    width: 890px;
    margin: 0 auto;
}

    .container__header {

    }

    .container__body {
        background: #fff;
        padding-bottom: 43px;
        position: relative;
        box-shadow: 0 13px 14px 1px rgba(0, 0, 0, 0.75);
    }

        .container__body__header {
            background: #d51d1d;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 28px;
            line-height: 34px;
            color: #fff;
            text-align: center;
            position: relative;
            padding: 21px 26px 24px 35px;
        }

            .container__body__header__text {
                
            }

            .container__body__header__border {
                background: url(../images/content_header.png);
                width: 890px;
                height: 10px;
                position: absolute;
                top: -10px;
                right: 0;
                left: 0;
            }

        .container__body__top {

        }

        .container__body__middle {
            margin-top: 58px;
        }

        .container__body__bottom {
            margin-top: 46px;
        }

    .container__quote {
        margin-top: 44px;
    }

    .container__button {

    }