.header {
    height: 451px;
    position: relative;
}

    .header__top {
        padding-top: 26px;
    }

        .header__top__center {
            text-align: center;
        }

            .header__top__center__inner {
                display: inline-block;
                vertical-align: top;
            }

        .header__top__right {
            position: absolute;
            top: 24px;
            right: 0;
        }